{% extends 'base.html' %}



{% block body_block %}

<style>
    html{
        
    }
</style>
        <h1>Login</h1>

        <form id="login_form" method="post" action="{% url 'accounts:login' %}">
            {% csrf_token %}
            <div class="input-group input-group-md">
             <span class="input-group-addon">Username</span><input type="text"class="form-control" placeholder="Username" aria-describedby="basic-addon2" name="username" value="" size="50" />
             </div>
             <br>
             <div class="input-group input-group-md">
             <span class="input-group-addon">Password</span><input class="form-control" placeholder="Password" aria-describedby="basic-addon2" type="password" name="password" value="" size="50" />
             </div>
             <br>
             <div class="input-group input-group-md">
             <input class="btn btn-default navbar-btn" type="submit" value="Submit" />
             </div>
        </form>
        <br /><br />
        <a style="font-size:22px;" href="/accounts/register/">Need to make a new account?</a>


{% endblock %}


{% block buttons %}{% endblock %}