{% extends 'base.html' %}

{% load add_get_parameter %}
(% load extras %)
{% block body_block %}

<!-- http://jsfiddle.net/RetMp/963/ -->


<head>

    <style>
        #article-link .url-text {
            position: relative;
            visibility: hidden;
        }
    
        {% if not articles %}
            body{
                cursor:pointer;
            }
        {% endif %}
    </style>
</head>


{% if articles %}
    <div style="width:94%;">
        {% for article in articles %}
                  <div class="col-md-4 article-link">
                    <div class="panel panel-default hover">
                        <div class="panel-heading"><h4 class="url-link">{{ article.title }}</h4></div>
                        <div class="panel-body">
                            <p>&nbsp;<span class="url-text">{{ article.url }}</span></p>
                            <a href="{% url 'bookmarks:edit-article' article.id %}"><div class="article_button">Edit</div></a>
                            <a href="{% add_get unarchive=article.id %}"><div class="article_button"><p>Un-archive</p></div></a>
                            <a href="{% add_get delete=article.id %}"><div class="article_button">Delete</div></a>
                            <div style="margin-top:8px;">
                                {% for tag in article.tags.all %}
                                    <p class="tag">{{ tag.name }}</p>
                                {% endfor %}
                            </div>
                        </div>
                      </div>
                  </div>
        {% endfor %}
    </div>
    
    <script>
        $('.article-link a').click(function(e){
          e.stopPropagation();
        });
        
        $('.article-link').on('click',function(e){
            var url = $( this ).find( ".url-text" ).text();
            window.open(url, '_blank')
        });
    </script>

{% else %}
    <div>
        <h2 id="no-articles">You don't have any archived articles</h2>
    </div>
    
    <script>

        var url = {% url 'bookmarks:silo' %};

        $('body').on('click',function(e){
            window.location = url
        });
        ;
    </script>
{% endif %}
<br/><br/>






{% endblock %}
