{% extends 'base.html' %} 
{% load bootstrap extras %} 
{% block body_block %} 
    <form id="article_form" method="post" action="" enctype="multipart/form-data">
        {% csrf_token %} {{ form|bootstrap }}

        <section id="multiple" class="row">
            <div class="col-md-8">
                <span>
                    
                    <h4>Add existing tags</h4>
    				</span>
    					<select  style="width:90%;" multiple="multiple" id="existing_tags" name="existing_tags">
                            {% for tag in tags %}
                                {% if tag in article.tags.all %}
                                    <option selected="selected" value="{{tag.slug}}">{{tag.name}}</option>
                                {% else %}
                                    <option value="{{tag.slug}}">{{tag.name}}</option>
                                {% endif %}
                            {% endfor %}
    					</select>                
    				</span>
    				<h4>Add new tags</h4>
    				</span>
    					<select  style="width:90%;" multiple="multiple" id="new_tags" name="new_tags"></select>                
    				</span>
                </span>
            </div>
        </section>
        

        <br/>
        <input type="submit" name="submit" value="Edit article" />
    </form>

    <script type="text/javascript">
    $(document).ready(function() {
	    $("#existing_tags").select2({}); 
		$("#new_tags").select2({
	        tags: true,
	        tokenSeparators: [',']
	    }); 
	});
	
    </script>
    
{% endblock %}
