{% extends 'base.html' %}

{% load bootstrap %}

{% block body_block %}
    
    {% for message in messages %}
        <div style="color:red;">{{ message }}</div>
    {% endfor %}
    
    <div class="help-text">
        <p>Hit enter or comma (,) to make a new tag. Spaces are allowed, but they will be turned into dashes (-) to make tags easier to process.<p>

    </div>

    
	<form id="tag_form" method="post" action="." enctype="multipart/form-data">
		{% csrf_token %}

        <section id="multiple" class="row">
            <div class="col-md-8">
                <h4>Add new tags<h4>
                <p>
                    <select  style="width:90%;" multiple="multiple" name="added_tags" id="added_tags">
                    </select>                
                 </p>
             </div>
        </section>
        {% if tags %}
        <section id="multiple" class="row">
            <div class="col-md-8">
                <h4>Delete tags</h4>
                <p>
                    <select  style="width:90%;" multiple="multiple" name="deleted_tags" id="deleted_tags">
                        {% for tag in tags %}        
                            <option value="{{tag.slug}}">{{tag.name}}</option>
                        {% endfor %}
                    </select>                
                 </p>
             </div>
        </section>
        {% endif %}
        
        <section id="multiple" class="row">
            <div class="col-md-8">
                <h4>Add new spaces<h4>
                <p>
                    <select  style="width:90%;" multiple="multiple" name="new_spaces" id="new_spaces">
                    </select>                
                 </p>
             </div>
        </section>
        {% if tags %}
        <section id="multiple" class="row">
            <div class="col-md-8">
                <h4>Delete spaces</h4>
                <p>
                    <select  style="width:90%;" multiple="multiple" name="spaces_to_delete" id="spaces_to_delete">
                        {% for space in spaces %}        
                            <option value="{{space.name}}">{{space.name}}</option>
                        {% endfor %}
                    </select>                
                 </p>
             </div>
        </section>
        {% endif %}
            
		<br/>
	       <input type="submit" name="submit" value="Submit changes"/>
    </form>


<script type="text/javascript">
    $(document).ready(function() {
        $("#deleted_tags").select2({
        }); 
    });

    $(document).ready(function() {
        $("#added_tags").select2({
            tags: true,
            tokenSeparators: [',']
        }); 
    });
    
    $(document).ready(function() {
        $("#new_spaces").select2({
        }); 
    });

    $(document).ready(function() {
        $("#spaces_to_delete").select2({
            tags: true,
            tokenSeparators: [',']
        }); 
    });
    
</script>
{% endblock %}